/*impostazioni globali per scrollbar e logo della light mode*/
:root
{
    --sfondo: url('../imgs/Login/scuro.jpg');
    --colore-bottone:#440085;
    --colore-link:#8A95FF ;
    --colore-link-hover:#E6E6EB;
    --colore-testo: white;
    --immagine-logo: url('../imgs/Logo/LogoViola.png');
}

/*stile generale*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*corpo del programma*/
body
{
    color:var(--colore-testo);
    font-size: clamp(16px, 1.2vw, 24px);
    background: var(--sfondo) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(30px);
}



/*stile per l'header*/
.header {
    width: clamp(100px, 35vw, 100%);
    display: flex;
    background-color: #390F61;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin-bottom: 50px;
}

/*stile per scritta e immagine del logo*/
.logo {
    height: 100%;
    padding-left: 20px;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.immagine-logo
{
    background-image: var(--immagine-logo); 
    width: clamp(50px, 6vw, 70px); 
    height: clamp(50px, 6vw, 70px);  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

/*stile per login, icona e hovering con cursore*/
.login {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.home-icon {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.home-icon:hover {
    transform: scale(1.1);
}





/*stile per il form di login*/
.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: clamp(100px, 35vw, 100%);
    height: auto;
    background-color:transparent;

    border: 1px solid #ccc;
    padding: 30px 40px;
    border-radius: 10px;
}

.login-form h2 {
    margin-bottom: 20px;
}

/*stile per gli input del form di login*/
.input {
    position: relative; 
    margin-bottom: 15px;
    width: 100%;
    height: clamp(40px, 6vh, 80px); 
    border: 1px solid #ccc;
    border-radius: 25px;
    display: flex;
    align-items: center;
    
}

/*stile per il testo all'interno degli input*/
.input input {
    color:var(--colore-testo);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 20px;    
    padding-right: 50px;    
    font-size: clamp(16px, 1.2vw, 24px);
    background: transparent;
}

/*stile per l'icona all'interno degli input*/
.input img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(20px, 1.7vw, 35px);
    height: auto;
    pointer-events: none;
}
.input #password + img {
    pointer-events: all;
    cursor: pointer;
}
.input ::placeholder {
    font-size: clamp(20px, 1.7vw, 40px);
    padding-left: 10px;
    color: var(--colore-testo);
}

/*stile per il bottone di login*/
.login-form button {
    width: 100%;
    height: clamp(40px, 6vh, 80px);
    border: none;
    border-radius: 25px;
    background-color: var(--colore-bottone);
    color: var(--colore-testo);
    font-size: clamp(20px, 1.7vw, 40px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:15px
}

/*stile per i link di registrazione e password dimenticata*/
form a
{
    text-decoration: none;
    color: var(--colore-link);
    font-weight: bold;
    padding: 5px 10px;
    background: 2px solid transparent;
    border-radius: 25px;
}

/*hovering sui bottoni e link*/
.login-form button:hover {
    background-color: #390F61;
}

form a:hover {
    background-color: var(--colore-link-hover);
}

.question {
    margin-top: 10px;
}


/*cambio tema chiaro/scuro*/
.theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--colore-bottone);
    width: 60px;
    height: 60px;
}

.theme-icon button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/*impostazioni globali per scrollbar e logo della dark mode*/
.dark-mode
{
    --immagine-logo: url('../imgs/Logo/LogoArancione.png');
    --sfondo: url('../imgs/Login/chiaro.jpg');
    --colore-bottone:#7A3F16;
    --colore-link:#26998d ;
    --colore-link-hover:#494949;
    --colore-testo: white;
    --immagine-logo: url('../imgs/Logo/LogoArancione.png');
    .login-form button:hover {
    background-color: #ad5b20;
}
}

/*stile del cursore*/
.theme-icon img {
    cursor: pointer;
}

.theme-icon img:last-child {
    display: none;
}


/*stile della dark mode*/
.dark-mode .theme-icon img:first-child {
    display: none;
}

.dark-mode .theme-icon img:last-child {
    display: block;
}


.dark-mode .content hr {
    height: 7px;
    margin: 50px;
    color: #2A160A;
    background-color: #2A160A;
}

.dark-mode .header {
    background-color: #5A2E0F;
    color: #fff;
}

